#logs_cont_table {
    display: block;
    max-height: 300px;
    width: fit-content;
    overflow: auto;
    border-collapse: separate;
    margin: auto;
    border: 3px solid red;
    border-radius: 5px;
}

#logs_cont_table th {
    position: sticky;
    top: 0;
    background-color: white;
}

#links_select {
    max-width: 400px;
    margin:auto;
}

.step_cont{
    margin-left: 20px ;
}

.step_div{
    margin:20px 0;
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
}